html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}


:root {
    --highlight: #f8f8f8;
}

body {


    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

b {
    font-weight: bold;
}

header {
    padding: 30px 50px 25px 50px;
    margin: 0 0 20px 0;
    position: relative;
    background-color: #f8f8f8;
    border-bottom: 1px solid #8e8e8e;
    background-image: url("img/banner_min.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
    font-weight: bold;
}

.header-content {
    margin:auto;
    max-width: 900px;
}

.body {
    padding: 0 40px;
    margin: auto;
    max-width: 1000px;
}

.contact-body {
    max-width: 900px;
}

.contact-body img {
    padding: 10px;
    border:1px solid #b6b6b6;
}

.contact-body p {
    max-width: 500px;
}

header p {
    width: 300px;
    font-size: 28px;
    line-height: 35px;
    text-shadow: 1px 1px 3px #000;
}

header img:first-child {
    max-width: 200px;
    position: relative;

    margin-bottom: 20px;
}

.author {
    margin-top: 10px;
    margin-bottom: 10px;
}

.author-wrapper {
    background-color: rgba(255,255,255, .5);
    background: linear-gradient(to right, rgba(255,255,255, 1), rgba(0, 0, 0, 0));
    display: inline-block;
    width: 320px;
    height: 57px;
    border-radius: 100px;
    cursor: pointer;
}

header .author img {
    width: 55px;
    height: 55px;
    border-radius: 200px;
    display: inline-block;
    border: 1px solid #fff;
}

.author div:first-child {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 0 0 18px 0;
    color: rgba(255, 255, 255, 0.8);
}

.author span {
    display: inline-block;
    position: absolute;
}

.author .name {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 4px 10px;
    border-radius: 100px;
    margin: 9px 15px;
    font-weight: 700;
    font-size: 12px;
}

.author .contact-btn {
    padding: 35px 19px;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}

h1 {
    font-size: 60px;
    background-image: linear-gradient(180deg, #0028ff, #c4dcff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -3px;
}

h6 {
    padding:30px 0;

}

.preset_box {
    height: 120px;
    min-width: 170px;
    display: inline-block;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    margin: 10px 10px 0 0;
    box-shadow: 0 2px 10px rgba(172, 172, 172, 0.27);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    transition-duration: 200ms;
    user-select: none;
}

.preset_box:hover {
    border: 2px solid blue;
    box-shadow: 0 5px 15px rgba(39, 147, 255, 0.4);
    color: blue;
    transform: translate(0, -10px);
}

.preset_box.active {
    border: 2px solid #27ae27;
    box-shadow: 0 5px 15px rgba(49, 202, 0, 0.4);
    color: #007a00;
}

.preset_box.active:hover {
    border: 2px solid #31dd31;
    box-shadow: 0 5px 15px rgba(56, 243, 0, 0.4);
    color: #00b500;
}

.preset_box img {
    max-width: 140px;
    max-height:90px;
    position: absolute;
    margin: 10px 0 0 20px;
    z-index: -1;
}

.preset_box div {
    text-align: center;
    margin-top: 85px;
}

.section-header {
    margin: 0 0 20px 0 ;
}

.table-wrapper {
    width: 100%;
    border: 2px solid #c4c4c4;
    box-shadow: 0 2px 10px rgba(172, 172, 172, 0.27);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
}

.special-wrapper {
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

table {
    width: 100%;
    border-spacing: 0;
}

thead {
    border-bottom: 1px solid #c1c1c1;
}

th {
    text-align: left;
    padding: 9px 10px;
    color: rgba(0, 0, 0, 0.73);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 11px;
    cursor: default;
}

.table-wrapper th {
    background: linear-gradient(to top, #ddd, #fff);
}

th span {
    color: rgb(0, 51, 255);
}

tr:first-child {
    border:none;
}

tr {
    border-top: 1px solid #bbb;
}

td {
    position: relative;
}

td input {
    border:none;
    text-decoration: underline;
    text-decoration-color: #27ae27;
    text-decoration-thickness: 2px;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    margin:0;
    width: calc(100% - 10px);
    padding: 10px 0 10px 10px;
    font-family: monospace;
}

td input:not(:disabled):hover {
    font-weight:bold;
}

td input:focus {
    text-decoration-color: #0039d9;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    -moz-appearance: textfield;
}

input[disabled] {
    color: #000;
    text-decoration: none;
}

input:hover {
    background-color: #f7f8ff;
}

h2 {
    padding: 15px 0 0 0;
    font-size: 22px;
    font-weight: bold;
}

p {
    padding: 10px 0 20px 0;
    line-height: 24px;
    font-size: 14px;
}

section {
    padding: 30px 50px;
}

.wb td:first-child {
    padding: 8px 10px;
}


.wb td:first-child {
    font-weight: bold;
}


.wb tbody:nth-child(2) tr:last-child {
    background-color: var(--highlight);

}

.wb tbody:nth-child(3) tr:last-child {
    background-color: var(--highlight);
}

.wb tbody:nth-child(4) tr:last-child {
    background-color: var(--highlight);
}

.wb tr:last-child input {
    font-weight: bold;
}

.std td:first-child,
.std td:nth-child(3) {
    font-weight: bold;
    padding: 8px 15px;
    width: 150px;
}

.field-error {
    background-color: #ffbdbd;
    color:red;
}


.field-error input:hover{
    background-color: #ffacac!important;
}

.gal-view {
    padding: 0 10px;
    font-weight:bold;
    white-space: nowrap;    /* Prevent wrapping */
    width: auto;
    cursor:default
}

span span {
    color: rgb(0, 51, 255);
    font-size: 11px;
}

.minus::before {
    content: '-';
    position: absolute;
    top: 10px;
    left: -5px;
}

h4 {
    font-weight: 700;
}

.image-container {
    display: flex; /* Use flexbox for side-by-side layout */
    justify-content: space-between; /* Use all horizontal space */
    gap: 10px; /* Add space between images */
    align-items: center; /* Align images vertically */
    width: 100%; /* Allow the container to span the full width */
}

.image-container img {
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #bbb; /* Add border for clarity */
    padding: 10px; /* Add padding inside the border */
    box-sizing: border-box; /* Ensure padding is included in the width */
    cursor: pointer; /* Add a pointer cursor on hover */
    max-height:400px;
}


ul {

    margin-left: 20px;
    padding-left: 20px;
}

li {
    padding: 5px;
    font-size: 13px
}

ul {
    list-style: none; /* Remove default bullets */
}

/* Add bullets for <li> elements without <strong> */
li:not(:has(> strong))::before {
    content: "• "; /* Custom bullet symbol */
    color: black; /* Bullet color */
}

/* Optional: Highlight <strong> for better readability */
strong {
    font-weight: bold;
}


footer {
    margin-top:40px;
    padding-top: 20px;
    border-top: 1px solid #d5d5d5;
}

footer img {
    width: 100px;
}

iframe {
    width: 100%;
    height: 500px;
}